<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{TraceId:-} %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file> ./logs/spring-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ./logs/spring-test.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{X-B3-TraceId:-} %logger{36}:%line - %msg%n</pattern>
            <!--<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %X{X-B3-TraceId:-} %logger{36}:%line - %msg%n</pattern>-->
        </encoder>

    </appender>

    <logger name="com.hexin" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="java.sql" level="debug"/>
    <logger name="org.springframework" level="ERROR"/>

    <logger name="jdbc.sqltiming" level="INFO"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
